$firstColor: #393646;
$secondColor: #4F4557;
$thirdColor: #6D5D6E;
$textColor: #F4EEE0;

$bgcolor: #f1f1f1;

$boxShadow1: rgba(0, 0, 0, 0.24) 0px 3px 8px;
$boxShadow2: 0px 10px 10px -10px rgba(0, 0, 0, 0.5);